################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LetMeWork/.vs
/LetMeWork/bin
/LetMeWork/obj
/.vs